---
import { FaShare } from "react-icons/fa";

const {post} = Astro.props;
---

<section class="flex items-center gap-4 mb-6">
  <img class="w-24 h-24 rounded-full" src={post.data.authorImage} alt={post.data.author} />
  <div>
    <p class="text-sm">Escrito por</p>
    <h5 class="text-xl font-bold">{post.data.author}</h5>
    <p class="text-sm">{post.data.authorDescription}</p>
    <div class="mt-2">
      <button class="btn btn-outline hover:btn-success btn-xs relative text-nowrap transition-colors duration-300 ease-in-out">
        <span>Compartir</span>
        <FaShare />
      </button>
    </div>
  </div>
</section>
