---
import {ShareButton} from "@components/ShareButton";

const {post} = Astro.props;
---

<section class="flex items-center gap-4 mb-6">
  <img class="w-24 h-24 rounded-full" src={post.data.authorImage} alt={post.data.author} />
  <div>
    <p class="text-sm">Escrito por</p>
    <h5 class="text-xl font-bold">{post.data.author}</h5>
    <p class="text-sm">{post.data.authorDescription}</p>
    <div class="mt-2">
      <ShareButton client:visible />
    </div>
  </div>
</section>
